<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101233231-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101233231-2');
        </script>  -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#ED1D24">
        <!-- <meta name="description" content="" /> -->
        <!-- <meta property="og:title" content="" /> -->
        <!-- <meta property="og:description" content="" /> -->
        <!-- <meta property="og:image" content="" /> -->
        <!-- <meta property="og:url" content="" /> -->
        <!-- <link rel="shortcut icon" href="" type="image/x-icon" />    -->
        <title>Explore Marvel Characters</title>
        <link rel="stylesheet" href="./css/materialize.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Anton|Permanent+Marker|K2D:100" rel="stylesheet">
    </head>
    <body>
        <!-- NAVIGATION -->
        <nav>
            <div class="nav-wrapper">
                <a href="./" class="brand-logo center">MARVEL<span>TM</span></a>
            </div>
        </nav>
        <!-- NAVIGATION ENDS -->
        <div id="app">

            <!-- PAGELODAER -->
            <pre-loader id="pageloader" v-show="state=='loading'"></pre-loader>
            <!-- PAGELOADER ENDS -->

            <!-- SEARCH CONTROLS -->
            <div v-if="state=='landingPage' || state=='searchPage'">
                <div class="container">
                    <div class="row"></div>
                    <div class="row">
                        <div class="col s12 center"><h5 class="k2d-font">Search For Marvel Characters</h5></div>                        
                    </div>
                    <div class="row">
                        <div class="col s10 offset-s1 m6 offset-m3 xl4 offset-xl4 input-field">
                            <input placeholder="Enter Character Name" type="text" id="search" v-model="searchQ" @keydown.enter="searchCharacter">
                        </div>
                        <div class="col s12 center">
                            <button class="btn-large green darken-2 waves-effect waves-light k2d-font" @click="searchCharacter">Search</button>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row">
                        <div class="col s12 center alphabets">
                            <span v-for="instance in alphabets" v-html="instance" @click="searchAlpha(instance)"></span>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
            <!-- SEARCH CONTROLS END -->

            <!-- RANDOM RESULTS PAGE -->
            <div v-if="state=='landingPage'" v-cloak>
                <div class="container">
                    <div class="row"></div>
                    <div class="row"><div class="col s6 offset-s3 divider"></div></div>
                    <div class="row"></div>
                    <div class="row">
                        <character-card v-for="instance in random" :key="instance.ID" :thumb="instance.Thumb" :name="instance.Name" :id="instance.ID"></character-card>
                    </div>
                </div>
            </div>
            <!-- RANDOM RESULTS ENDS -->

            <!-- SEARCH RESULTS STARTS -->
            <div v-if="state=='searchPage'" v-cloak>
                <div class="container">
                    <div class="row"></div>
                    <div class="row">
                        <character-card v-for="instance in searchData" :key="instance.ID" :thumb="instance.Thumb" :name="instance.Name" :id="instance.ID"></character-card>                        
                    </div>
                </div>
            </div>
            <!-- SEARCH RESULTS ENDS -->

            <!-- FOOTER -->
            <div class="container" v-if="state!='loading'" v-cloak>
                <div class="row">
                    <div class="row"></div>
                    <div class="col s6 offset-s3 divider"></div>
                    <div class="row"></div>
                    <div class="col s12 center"><a href="https://parthshah.xyz">parthshah.xyz</a></div>
                    <div class="col s12 center"><p>Data provided by Marvel.<br>&copy; 2018 <a href="http://marvel.com" target="_BLANK">MARVEL</a></p></div>
                </div>
            </div>
            <!-- FOOTER ENDS -->

        </div>
        <script src="./js/vue.js"></script>
        <script src="./js/axios.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>