<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101233231-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-101233231-2');
        </script>  -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#ED1D24">
        <meta name="description" content="Search for various Marvel Characters and discover details about them including Series, Comics, Events, etc" />
        <meta property="og:title" content="Explore Marvel Characters" />
        <meta property="og:description" content="Search for various Marvel Characters and discover details about them including Series, Comics, Events, etc" />
        <meta property="og:image" content="favicon.jpg" />
        <meta property="og:url" content="https://parthshah.xyz/marvel" />
        <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon" />   
        <title>Marvel Character Details</title>
        <link rel="stylesheet" href="./css/materialize.min.css">
        <link rel="stylesheet" href="./css/style.css?v=2">
        <link href="https://fonts.googleapis.com/css?family=Anton|Permanent+Marker|K2D:100" rel="stylesheet">
    <body>
        <!-- NAVIGATION -->
        <nav>
            <div class="nav-wrapper">
                <a href="./" class="brand-logo center">MARVEL<span>TM</span></a>
            </div>
        </nav>
        <!-- NAVIGATION ENDS -->
        <div id="character">

            <!-- PAGELODAER -->
            <pre-loader id="pageloader" v-show="state=='loading'"></pre-loader>
            <!-- PAGELOADER ENDS -->

            <!-- BODY -->
            <div class="container" v-if="state!='loading'" v-cloak>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row">
                    <div class="col s12 m5">
                        <img :src="charDetails.thumbnail.path + '.' + charDetails.thumbnail.extension" width="100%">
                    </div>
                    <div class="col s12 m6 offset-m1 charDesc">
                        <p><b>Name: </b>{{charDetails.name}}</p>
                        <p><b>Description: </b>{{description}}</p>
                    </div>
                </div>

                <div class="row"></div>
                <div class="row">
                    <div class="col s12">
                        <h4 class="light">Comics</h4>
                    </div>
                    <div class="col s12 divider"></div>
                    <div class="row"></div>
                    <div class="col s12 center">
                        <pre-loader id="innerLoader" v-if="comics=='notLoaded'"></pre-loader>
                    </div>
                    <character-card v-for="instance in comicData" :thumb="instance.thumbnail.path + '.' + instance.thumbnail.extension" :name="instance.title" :key="instance.id"></character-card>
                </div>

                <div class="row"></div>
                <div class="row">
                    <div class="col s12">
                        <h4 class="light">Events</h4>
                    </div>
                    <div class="col s12 divider"></div>
                    <div class="row"></div>
                    <div class="col s12 center">
                        <pre-loader id="innerLoader" v-if="events=='notLoaded'"></pre-loader>
                    </div>
                    <character-card v-for="instance in eventsData" :thumb="instance.thumbnail.path + '.' + instance.thumbnail.extension" :name="instance.title" :key="instance.id"></character-card>
                </div>

                <div class="row"></div>
                <div class="row">
                    <div class="col s12">
                        <h4 class="light">Series</h4>
                    </div>
                    <div class="col s12 divider"></div>
                    <div class="row"></div>
                    <div class="col s12 center">
                        <pre-loader id="innerLoader" v-if="series=='notLoaded'"></pre-loader>
                    </div>
                    <character-card v-for="instance in seriesData" :thumb="instance.thumbnail.path + '.' + instance.thumbnail.extension" :name="instance.title" :key="instance.id"></character-card>
                </div>

                <div class="row"></div>
                <div class="row">
                    <div class="col s4 center" v-for="instance in charDetails.urls">
                        <a :href="instance.url" target="_BLANK">{{instance.type}}</a>
                    </div>
                </div>
                <div class="row"></div>
                
                <div class="row">
                    <div class="col s12 center">
                        <a href="./" class="btn-large green darken-2 waves-effect waves-light">Back</a>
                    </div>
                </div>


            </div>
            <!-- BODY ENDS -->

            <!-- FOOTER -->
            <div class="container" v-if="state!='loading'" v-cloak>
                <div class="row">
                    <div class="row"></div>
                    <div class="col s6 offset-s3 divider"></div>
                    <div class="row"></div>
                    <div class="col s12 center"><a href="https://parthshah.xyz">parthshah.xyz</a></div>
                    <div class="col s12 center"><p>Data provided by Marvel.<br>&copy; 2018 <a href="http://marvel.com" target="_BLANK">MARVEL</a></p></div>
                </div>
            </div>
            <!-- FOOTER ENDS -->

        </div>
        <script src="./js/vue.min.js"></script>
        <script src="./js/axios.min.js"></script>
        <script src="./js/character.js?v=2"></script>
    </body>
</html>